/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
}

/* Top Navbar
========================================================= */

.nav {
	position: fixed;
	top: 0;
	z-index: 4;
	width: 100%;
}

.nav .left-nav {
	list-style: none;
	padding-left: 15px;
	float: left;
	margin-top: 10px;
}

.nav .right-nav {
	list-style: none;
	padding-right: 15px;
	float: right;
	margin-top: 10px;
}

.nav ul li {
	font-family: inherit;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	display: inline;
	color: #444;
}

#menu-button {
	cursor: pointer;
}

/* Nav Overlay
========================================================= */

.nav-overlay {
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	background: rgba(96, 149, 255, 0.75);
	z-index: 0;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transition: opacity .5s ease;
	-moz-transition: opacity .5s ease;
	-o-transition: opacity .5s ease;
	-ms-transition: opacity .5s ease;
	transition: opacity .5s ease;
}

.nav-overlay-list {
	list-style: none;
	padding-left: 0;
}

.nav-overlay-list li a {
	text-decoration: none;
	color: #fff;
	font-family: inherit;
	font-size: 35px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 60px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
	/* Add animation delay here */
}

.nav-overlay-list li a:hover {
	color: #1f1f21
}

.nav-overlay-list li:first-child {
	transform: translateY(150px);
	opacity: 0;
	-webkit-transition: all .2s ease-in 1s;
	-moz-transition: all .2s ease-in 1s;
	-o-transition: all .2s ease-in 1;
	-ms-transition: all .2s ease-in 1s;
	transition: all .4s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}

.nav-overlay-list li:nth-child(2) {
	transform: translateY(150px);
	opacity: 0;
	-webkit-transition: all .2s ease-in 2s;
	-moz-transition: all .2s ease-in 2s;
	-o-transition: all .2s ease-in .2s;
	-ms-transition: all .2s ease-in .2s;
	transition: all .4s cubic-bezier(0.19, 1, 0.22, 1) 0.28s;
}

.nav-overlay-list li:nth-child(3) {
	transform: translateY(150px);
	opacity: 0;
	-webkit-transition: all .2s ease .25s;
	-moz-transition: all .2s ease 3s;
	-o-transition: all .2s ease .25s;
	-ms-transition: all .2s ease .25s;
	transition: all .4s cubic-bezier(0.19, 1, 0.22, 1) 0.36s
}

.close-button {
	position: absolute;
	right: 15px;
	top: 14px;
	color: white;
	font-size: 30px;
	cursor: pointer;
}


/* Gallery
========================================================= */

.gallery-view {
	width: 100vw;
	overflow-x: scroll;
}

.gallery-bg {
	width: 100%;
	height: 100%;
	background: url("https://tympanus.net/Development/3DGalleryRoom/images/wall.jpg") repeat 0px 0px;
}

.full-gallery-slider {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 5000px;
	background: url("https://tympanus.net/Development/3DGalleryRoom/images/wall.jpg") repeat 0px 0px;
	position: relative;
	z-index: 1;
}

.full-gallery-slider li {
	display: inline-block;
	width: 100vw;
	height: 100vh;
}

/*.art-piece {
	width: 800px;
	height: 450px;
	text-decoration: center;
	position: relative;
	top: -30px;
}*/

.inner {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


/*.art-piece-image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}*/

.art-piece {
	position: relative;
	top: -30px;
	border: 10px solid #000;
	box-shadow: 0 10px 7px -5px rgba(0,0,0,0.3);	
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.art-piece img {
	display: block;
	margin: 0 auto;
	border: 20px solid #fff;
	height: 400px;
}

.art-piece-desc-card {
	font-size: 9px;
	font-family: inherit;
	background: #fff;
	color: #444;
	padding: 8px 8px 6px 8px;
	text-align: left;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	position: relative;
	top: -10px;
	width: 18%;
	line-height: 12px;
	cursor: zoom-in;
	/*display: inline-block;*/
}

/* Floor
========================================================= */

.floor {
	position: fixed;
	height: 8%;
	background: url(https://tympanus.net/Development/3DGalleryRoom/images/floor.jpg) repeat 0px 0px;
	bottom: 0;
	z-index: 2;
	width: 100%;
}

/* Art piece desc zoomed
========================================================= */

.art-piece-desc-zoomed {
	position: fixed;
	z-index: 3;
	width: 400px;
	height: 220px;
	padding: 40px;
	background: #fff;
	box-shadow: 0 -1px 3px rgba(0,0,0,0.3);
	bottom: 0px;
	margin-left: -200px;
	left: 50%;
	overflow-y: scroll;
	font-family: lato;
	/* Animation styles */
	-webkit-transform: translateY(310px);
	-webkit-transition: -webkit-transform .3s cubic-bezier(0.19, 1, 0.22, 1);
	-moz-transform: translateY(310px);
	-moz-transition: -moz-transform .3s cubic-bezier(0.19, 1, 0.22, 1);
	-o-transform: translateY(310px);
	-o-transition: -o-transform .3s cubic-bezier(0.19, 1, 0.22, 1);
	-ms-transform: translateY(310px);
	-ms-transition: -ms-transform .3s cubic-bezier(0.19, 1, 0.22, 1);
	transform: translateY(310px);
	transition: transform .3s cubic-bezier(0.19, 1, 0.22, 1);
}

.art-piece-desc-zoomed-cancel {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 10px;
	top: 10px;
	background: #ebebeb;
	border-radius: 100px;
}

.art-piece-desc-zoomed .close-button {
	color: #d2d2d2;
	font-size: 25px;
}